absl-py==0.1.13
astor==0.6.2
bleach==1.5.0
gast==0.2.0
grpcio==1.10.0
h5py==2.7.1
html5lib==0.9999999
Markdown==2.6.11
numpy==1.14.2
opencv-contrib-python==3.4.0.12
parse==1.8.2
protobuf==3.5.2.post1
six==1.11.0
tensorboard==1.7.0
tensorflow==1.7.0
tensorflow-gpu==1.7.0
termcolor==1.1.0
tqdm==4.20.0
Werkzeug==0.14.1
